* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    flex: 1;
}

footer {
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    font-size: 3rem;
    padding: 20px;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .container {
    max-width: 1440px;
    margin: 0 auto;
}

footer .footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 0;
}

footer .footer-item {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #0000004a;
    font-size: 24px;
    color: #fff;
}

footer .link-footer {
    text-decoration: none;
    color: #333;
}

footer .icon {
    width: 100px;
    height: auto;
    border-radius: 10px;
    transition: all 0.5 ease;
}

@media screen and (max-width: 767px) {
    footer .footer-item {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 20px;
    }

    footer .icon {
        width: 50px;
    }
}
